.form-item {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 480px;
}

.form-item .form-input {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-bottom: 1.5px solid #0070ff;
}

.form-item .form-input:focus {
    outline: none;
    border-bottom: 1.5px solid #0070ff;
}

.text-remember {
    width: 480px;
    margin: auto;
    margin-top: 8px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.btn-login {
    width: 100%;
    max-width: 480px;
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background: #0070ff;
    margin-top: 16px;
    color: #fff;
}

.btn-login:hover {
    cursor: pointer;
}

.text-suggest {
    margin: auto;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.text-suggest .text-description {
    color: #323232;
    text-decoration: underline;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.text-suggest .text-description:hover {
    cursor: pointer;
}
